extends layout

block content
  div
    div(id="upload_form")
      form
        input(id="uploader",type="file",name="file",data-url="/files")
    ul(id="files_box")
        div Uploaded Files
        div(id="files_list")

