extends layout

block content
  div
    div(id="upload_form")
      form
        input(id="uploader",type="file",name="file",data-url="/files")
    div(id="files_box")
        div(class="upload_title") Uploaded Files
        ul(id="files_list")

