doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/backbone-min.js')

    script(src="javascripts/vendor/jquery.ui.widget.js")
    script(src="javascripts/jquery.iframe-transport.js")
    script(src="javascripts/jquery.fileupload.js")

    script(src='/javascripts/main.js')
  body
    block content
