body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#upload_form {
  position: relative;
  float: left;
  margin: 10px;
  padding: 10px;
}

#upload_btn {
  border: 2px dashed #ccc;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding: 10px;
  width: 250px;
  height: 100px;
  line-height: 100px;
  background-color: #eef;
}

#upload_btn.dragging {
  border: 1px dashed #ccf;
  font-size: 18px;
}


#uploader {
  opacity: 0;
  height: 100px;
  width: 250px;
}

#files_box {
  margin: 10px 10px 10px 40px;
  float: left;
  padding: 0px;
}

#files_box .upload_title {
  font-weight: bold;
  font-size: 14px;
}

#files_list {
  list-style-type: none;
  padding: 0;
}

#files_list .file_row {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  padding: 8px;
  min-width: 200px;
  margin-bottom: 10px;
}

#files_list .file_row .name {
cursor:pointer;
}

#files_list .file_row .name:hover {
color: #3333AA;
}

#files_list .file_row .size {
  color: #666;
}

#files_list .file_row .remove {
  cursor: pointer;
  float: right;
  position: absolute;
  top: 11px;
  right: 10px;
  padding: 5px;
}


