body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#upload_form {
  float: left;
  margin: 10px;
  border: 1px dashed #ccc;
  padding: 10px;
  border-radius: 5px;
}

#files_box {
  margin: 10px;
  float: left;
  padding: 0px;
}

#files_box .upload_title {
  font-weight: bold;
  font-size: 14px;
}

#files_list {
  list-style-type: none;
  padding: 0;
}

#files_list .file_row {
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  padding: 8px;
  min-width: 200px;
  margin-bottom: 10px;
}

#files_list .file_row .size {
  color: #666;
}

#files_list .file_row .remove {
  cursor: pointer;
  float: right;
  position: absolute;
  top: 11px;
  right: 10px;
  padding: 5px;
}


